@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VISBY";
  src: url("../public/fonts/visby/visbycf-regular.otf");
}

@font-face {
  font-family: "VISBYB";
  src: url("../public/fonts/visby/visbycf-bold.otf");
}

img {
  border-radius: 0.375rem;
}